@import 'variables';

.box-bienvenida {
    background: $white;
    border-radius: 16px;
    box-shadow: $shadow;
    margin: 32px auto 24px auto;
    padding: 32px 16px 16px 16px;
    max-width: 900px;
    text-align: center;

    .bienvenida {
        h2 {
            color: $primary-color;
            font-weight: 700;
            margin-bottom: 10px;
        }

        p {
            color: #444;
            font-size: 1.1rem;
        }
    }
}