@import 'variables';

.box-carousel {
    margin: 40px auto 0 auto;
    max-width: 900px;
    background: $white;
    border-radius: 16px;
    box-shadow: $shadow;
    padding: 24px 0;

    .img-carousel img {
        border-radius: 12px;
        max-height: 400px;
        width: 100%;
        object-fit: contain;
        background: #fff;
    }
}